.nav-link-custom {
    font-family: "Cormorant", serif; /* Correct font-family with a fallback */
    /* Optional: ensures it inherits color from parent */
    text-decoration: none; /* Optional: remove underline if present */
    padding: 5px 10px; /* Optional: add some padding for better spacing */
    font-size: medium; /* font-size: 1rem; was here but overridden by this line */
}

.nav-link-custom:hover {

    color: #04b5ef;

}